@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
:root {
  
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,p {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  color: #f9f9f9;
  margin-top: 10px; 
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.nav-link{
  position: relative;
  font-family: 'Radley', serif;
  font-size: 1rem;
  color: #f8eaea;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;

}

.nav-link::after {
content: ''; /* Required for pseudo-elements */
position: absolute;
left: 30%;
bottom: 10px; /* Move the underline slightly below the text */
width: 0;/* Initial width of underline */
height: 1px;
background-color: #f8eaea; /* Color of underline */
transition: width 0.4s ease; 

}

.nav-link:hover::after {
  width: 40%;  /* Fade in the underline on hover */
}

.nav-link:hover {
color:  #f8eaea; /* Text color on hover */
}

.fixed-plus{
  position: absolute; /* Position the image absolutely */
  bottom: 8%; /* Align the image to the bottom of the container */
  left: 8%; /* Align the image to the left of the container */
}

.fixed-back {
  position: absolute;
  /* Position the image absolutely */
  top: 15%;
  /* Align the image to the bottom of the container */
  left: 8%;
  /* Align the image to the left of the container */
  width:25px;
  height:25px;
}
